@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
    width:100%;
    height: 100%;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
header{
    background-color: white;
    height: 100px;  
}

.contaner
{
   
    width: 100%;
    height:700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;

    
}

#AppointmentForm{
     opacity: 1;
  /*   visibility: hidden;  */
}
.fildContaner{
display: flex;
margin-top: 40px;

}
    
.formFild{
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.formFild1{
    position: relative;
    width: 100%;
    display: block;
    left: 0;
}
#firsname{
    border: transparent;
    border-bottom: 1px solid rgba(255,255,255,.2);
    height: 58px;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    color: rgba(255,255,255,.9);
    font-size: 16px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

}
    





#first{
    background-color: #3a9dca;
    width: 100%;
    height: 100%;
    color: white;
} 

.firstDive{
    height: 100px;
    margin-top: 40px;
    margin-left: 200px;
}

#heding1 span{
    color: gainsboro;
    font-size: larger;
}


#heding1 h2{
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
}
#heding1 p{
    color:gainsboro;
    margin-top: 20px;
}
main{
width: 100%;
height:100%;

}

main section 
{
    background-image: url('/img/miroshn.jpg');
    background-position: 95% 1%;
  /*   background-color: rgb(76 114 252 / 86%);
    background-blend-mode: lighten;  */
    color: white;
    margin-top: -53px;
    height: 314px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-top: inherit;

}

a{
    text-decoration: none;
    color: white;

}


.dev-second-contener{
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-left: 50px;
    
}

.second-div{
    background-color: rgb(250, 250, 250);
    
    text-align: center;
    width: 251px;
    height: 244px;
    margin: 50px;


    
}

.second-div div{
    margin-top: inherit;
    text-align: center;
}


.second-div div strong{
    font-weight: 800;
    font-size: 44px;
    color: #3a9dca;
    display: block;
    
    
}

.second-div div span{
    padding: 1em;
    display: block;
    font-size: 16px;
    color: rgba(0,0,0,.8);
}

.iput-text{
    width: 200px;
    padding: 1em;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    background: transparent;
    color:rgb(224, 237, 255);
    
    

}
.iput-text:hover{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 9px;
   
}
::-webkit-input-placeholder{
    color: rgb(224, 237, 255);
    
}
#buttonID{
    cursor: pointer;
    border: none;
    background-color: orange;
    width: 240px;
    
    height: 61px;
    border-radius: 100px;
    font-size: 21px;
    text-align: center;
}













