
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    margin: 0%;
    height: 100px;
  }
  
  header h1 {
    margin: 0;
    padding: 15px;
    color: #777;
  }
  header h1 span {
    color: #3a9dca;
  }
  
  header a {
    margin: 10px;
    color: #777;
    text-decoration: none;
    transition: 0.6s;
    text-transform: capitalize;
  }
  
  header a:last-child {
    margin-right: 20px;
  }
  
  header a:hover {
    transform: scaleX(1.5);
  
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #3a9dca;
    color: #3a9dca;
  }
  
  .active {
    font-weight: bold;
    border-bottom: 2px solid #3a9dca;
    color: #3a9dca;
  }
footer {
    display: flex;
    justify-content: space-between;
    background-color: #3a9dca;
    padding: 15px;
    align-items: center;
    margin: 0;
  }
  
  footer p {
    color: #fff;
  }
  
  footer i {
    color: #fff;
    font-size: 25px;
    transition: 0.5s;
  }
  
  footer i:hover {
    font-size: 35px;
  }