body {
    background: #eee;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
    color: #7c795d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 0 24px;
    text-align: center;
    margin-top: 70px;
    
}

.card {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background: #FFF;
    text-align: center;
    margin-top: 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 20px 0 20px 0;
}

.label {
    font-size: 18px;
}

#button {
    width: 40%;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #4285f4;
    color: #fff;
    font-size: 1.6vw;
}

#output {
    font-size: 15px;
    border-top: 1px solid #4285f4;
    padding-top:5px;
    margin-right:5%;
    margin-left:5%;
    width: 90%;
}

#output, #out {
    display: none;
}

#out * {
    margin-top: 10px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0 auto;
  }
  /*satrt container */
  .container {
    width: 1200px;
    margin: 0 auto;
  
    padding: 0;
    font-family: sans-serif;
  }
  
  /*satrt header  */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    margin: 0%;
    height: 100px;
  }
  
  header h1 {
    margin: 0;
    padding: 15px;
    color: #777;
  }
  header h1 span {
    color: #3a9dca;
  }
  
  header a {
    margin: 10px;
    color: #777;
    text-decoration: none;
    transition: 0.6s;
    text-transform: capitalize;
  }
  
  header a:last-child {
    margin-right: 20px;
  }
  
  header a:hover {
    transform: scaleX(1.5);
  
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #3a9dca;
    color: #3a9dca;
  }
  
  .active {
    font-weight: bold;
    border-bottom: 2px solid #3a9dca;
    color: #3a9dca;
  }
  /*satrt main  */
  
  main {
    position: relative;
  }
  main .content {
    position: absolute;
    top: 38%;
    left: 27%;
    text-align: center;
  }
  
  main .content h2 {
    text-shadow: 1px 1px 5px #3a9dca;
    color: #3a9dca;
  }
  
  main .content p {
    text-shadow: 1px 1px 5px #3a9dca;
    color: #3a9dca;
    margin-bottom: 40px;
  }
  
  main .content a {
    cursor: pointer;
    color: #3a9dca;
    border: 2px solid #3a9dca;
    padding: 10px 20px;
    transition: 0.5s;
  }
  
  main .content a:hover {
    background-color: #3a9dca;
    color: #fff;
  }
  
  main img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .slider {
    position: relative;
  }
  main .slider i {
    font-size: 50px;
    opacity: 0.3;
    transition: 0.6s;
  }
  
  main .slider i:hover {
    opacity: 1;
  }
  
  main .slider #left i {
    position: absolute;
    top: 50%;
    left: 50px;
    cursor: pointer;
  }
  
  main .slider #right i {
    position: absolute;
    top: 50%;
    right: 50px;
    cursor: pointer;
  }
  
  /*satrt footer */
  
  footer {
    display: flex;
    justify-content: space-between;
    background-color: #3a9dca;
    padding: 15px;
    align-items: center;
    /* margin: 0; */
    margin-top: 130px;
  }
  
  footer p {
    color: #fff;
  }
  
  footer i {
    color: #fff;
    font-size: 25px;
    transition: 0.5s;
  }
  
  footer i:hover {
    font-size: 35px;
  }
  
  /*end footer*/
  